/*
	CSS for VPL3 application
    Classic version (blocks, buttons and widgets defined in JavaScript)
	Copyright 2019, ECOLE POLYTECHNIQUE FEDERALE DE LAUSANNE
*/

view {
	background: white;
}

toolbar {
	padding: 5px;
	margin: 5px;
}

toolbar.vpl.bottom {
	padding: 0;
	margin: 0;
}

button {
	margin: 2px;
}

button.vpl.bottom {
	font: 20px sans-serif;
}

#vpl-message-error {
	color: #e44;
}

#vpl-message-warning {
	color: #f88;
}

separator {
	width: 5px;
	height: 5px;
}

vpl {
	padding: 5px;
	margin: 5px;
	background: #eee;
}

block.library {
	margin: 4px;
}

block.event {
	background: #f70;
}
block.action {
	background: #38f;
}
block.state {
	background: #0c0;
}
block.comment {
	background: #aaa;
}

block-container {
	padding: 0;
	padding-bottom: 8px;
	margin: 12px;
	margin-bottom: 4px;
}
block-container.error {
	border-bottom: #e44 3px;
}
block-container.warning {
	border-bottom: #f88 3px;
}

rule {
	background: #ddd;
	border: solid #666;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}

#widget-then {
	padding-left: 10px;
	padding-right: 10px;
}

block-library {
	background: #eee;
	padding: 5px;
	margin: 5px;
}

/* simulator */

sim-controller {
	background: #eee;
	margin: 5px;
}

button-small {
	margin: 5px;
}

sim-playground-area {
	background: #eee;
	margin: 5px;
	padding: 5px;
}

sim-playground {
	border: 2px silver;
}
