/*
	CSS for VPL3 application
    Classic version (blocks, buttons and widgets defined in JavaScript)
	Copyright 2019, ECOLE POLYTECHNIQUE FEDERALE DE LAUSANNE
*/

view {
	background: white;
}

toolbar {
	padding: 5px;
	margin: 5px;
}

toolbar.vpl.bottom {
	padding: 0;
	margin: 0;
}

button {
	width: 3.5vw;
	height: 3.5vw;
	min-width: 28px;
	min-height: 28px;
	margin: 0.2vw;
}

button.vpl.bottom {
	font: 20px sans-serif;
}

#vpl-message-error {
	color: #e44;
}

#vpl-message-warning {
	color: #f88;
}

separator {
	width: 5px;
	height: 5px;
}

vpl {
	padding: 5px;
	margin: 5px;
	background: #eee;
}

block {
	width: 6vw;
	height: 6vw;
	min-width: 32px;
	min-height: 32px;
}

block.library {
	margin: 4px;
}

block.event {
	background: #f70;
}
block.action {
	background: #38f;
}
block.state {
	background: #0c0;
}
block.comment {
	background: #aaa;
}

block-container {
	padding: 0;
	padding-bottom: 0.4vw;
	margin: 0.6vw;
	margin-bottom: 0.2vw;
}
block-container.error {
	border-bottom: #e44 3px;
}
block-container.warning {
	border-bottom: #f88 3px;
}

rule {
	background: #ddd;
	border: solid #666;
	border-radius: 0.6vw;
	padding: 0.3vw;
	margin:0.6vw;
}

rule:small {
	background: white;
}

conflict-line.error {
	line: 3px #e44 dashed;
}
conflict-line.warning {
	line: 3px #f88;
}

#widget-then {
	padding-left: 2vw;
	padding-right: 2px;
}

block-library {
	background: #eee;
	padding: 0.5vw;
	margin: 0.5vw;
}

/* simulator */

sim-controller {
	background: #eee;
	margin: 5px;
	padding: 1vw;
}

button.event {
	width: 2vw;
	height: 2vw;
	margin: 0.2vw;
}

sim-playground-area {
	background: #eee;
	margin: 5px;
	padding: 5px;
}

sim-playground {
	border: 2px silver;
}
