/*
	CSS for VPL3 application
    SVG version (blocks, buttons and widgets defined in SVG)
	Copyright 2019, ECOLE POLYTECHNIQUE FEDERALE DE LAUSANNE
*/

view {
	background: #fbfcfc;
}

toolbar {
	padding: 8px;

}

button {
	width: 3.5ww;
	height: 3.5ww;
	min-width: 28px;
	min-height: 28px;
	margin: 0.2vw;
}

button.vpl.top {
	font-size: 1.3vw;
	font-family: 'Rubik', sans-serif;
}

#vpl-message-error {
	color: #ff1744;
	width: 20vw;
}

#vpl-message-warning {
	color: #ff7777;
	width: 20vw;
}

separator {
	width: 5px;
	height: 5px;
}

vpl {
	padding: 16px;
	margin: 0px;
	border-radius: 4px;
	background: #fbfcfc;
	box-shadow: 0px 0px 8px #78909c;
}

block {
	width: 8ww;
	height: 8ww;
	min-width: 60px;
	min-height: 60px;
	margin: 8px;
}

rule {
	background: #ffffff;
	border: solid #eceff1;
	border-radius: 4px;
	padding: 8px;
	margin: 16px;
}

#widget-then {
	padding-left: 20px;
	padding-right: 20px;
}

block-library {

	padding: 4px 8px 4px 8px;
	margin: 0px;
	/*border-left: 1px solid #eceff1;
	border-right: 1px solid #eceff1;
	overflow: scroll;*/
}

/* simulator */

sim-controller {
	background: #eee;
	margin: 5px;
}

button-small {
	margin: 5px;
}

sim-playground-area {
	background: #eee;
	margin: 5px;
	padding: 5px;
}

sim-playground {
	border: 2px silver;
}
