/*
	CSS for VPL3 application
    SVG version (blocks, buttons and widgets defined in SVG)
	Copyright 2019-2020, ECOLE POLYTECHNIQUE FEDERALE DE LAUSANNE
*/

/*General*/
view {
	background: #FAFCFD;
}
vpl {
	padding: 24px 0 16px 0;
	margin: 0px;
	background: transparent;
}

/*Toolbars*/
toolbar.bottom {
	padding: 16px;
}
toolbar.top {
	padding: 16px;
	background: #ECEFF1;
	box-shadow: 0px 0px 8px #BAC0C4;
}

/*Buttons & console*/
button {
	width: 2.5ww;
	height: 2.5ww;
	min-width: 32px;
	min-height: 32px;
	margin: 0.24vw;
}
button.vpl {
	font-size: max(1vw, 12px) ;
	font-family: 'Rubik', sans-serif;
}
button.vpl.bottom {
	min-width: 64px;
	min-height: 64px;
}
button.vpl:possible-drop-target {
	background-color: #ddd;
}
#vpl-message-error, #vpl-message-warning {
	color: #455a64;
	width: 20vw;
	padding: 0px 4px 0px 4px;
	border-width: 4px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-style: none;
}
#vpl-message-error {
	border-color: #fcc;
}
#vpl-message-warning {
	border-color: #fbca00;
}
#vpl-filename {
	width: 9ww;
	border-width: 1px;
	border-color: transparent;
	font-size: max(1vw, 12px);
}
#vpl-filename:edited {
	border-color: #333;
	background-color: white;
}
separator {
	width: 1ww;
	height: 1ww;
}

/*Blocks*/
block {
	width: 7vw;
	height: 7vw;
	min-width: 64px;
	min-height: 64px;
	border-width: 2pt;
	border-radius: 2px;
	box-sizing: border-box;
}
block.event, block.state {
	border-color: #ffae9e;
	border-width: 1.5px;
	border-top-right-cut: 1vw;
	background-color: #fbebe7;
	backdrop-color: #ff6040;
}
block.action {
	border-color: #64b5f6;
	border-width: 1.5px;
	background-color: #e5f0ff;
	backdrop-color: #2080ff;
}
block.event-aux, block.state {
	height: 6vw;
	width: 6vw;
	min-width: 56px;
	min-height: 56px;
	vertical-align: bottom;
}
block.library {
	margin: 4px;
	width: 5.6vw;
	height: 5.6vw;
	min-width: 56px;
	min-height: 56px;

}
block.empty {
	border-width: 1.5pt;
	border-radius: 4px;
	border-style: dashed;
	background: white;
	width: 3vw;
	min-width: 16px;
}
block.empty:small {
	background: #ECEFF1;
}
block.empty:only-child{
	width: 7vw;
	min-width: 64px;

}
block-container{
	/*background: #fbfcfc;*/
	border-radius: 2px;
	padding: 8px;
}
block-container.error {
	border-bottom: #ff1744 1.5pt;
}
block-container.warning {
	border-bottom: #fbca00 1.5pt;
}

/*programming lines*/
rule {
	background: #ffffff;
	border: solid #eceff1 2px;
	border-radius: 4px;
	padding: 8px;
	margin: 12px;
}
rule:small{
	background: #ECEFF1;
}

overlay-rectangle.disabled {
	background: rgba(120,144,156,0.5);
	border-radius: 4px;
}
overlay-rectangle.drop-target {
	border: 0.1vw #6200ea;
	border-radius: 4px;
}
overlay-rectangle.disabled {
	background: rgba(100,100,100,0.5);
}
crossout-line {
	line-width: 0.15vw;
 	color: white;
	line-angle: 45deg;
}

overlay-rectangle.kbd-selected {
	border: 0.5vw rgba(0,0,0,0.4);
	border-radius: 0.1vw;
	border-corner-length: 1vw;
}
overlay-rectangle.kbd-selected.param {
	border: 0.3vw rgba(0,0,0,0.4);
	border-radius: 0.1vw;
}
overlay-rectangle.rule.kbd-target {
	border: 0.2vw rgba(0,0,0,0.7);
	border-radius: 4px;
}
overlay-rectangle.event.kbd-target {
	border: 0.2vw rgba(200,0,0,0.7);
}
overlay-rectangle.event-aux.kbd-target {
	border: 0.2vw rgba(200,0,0,0.7);
}
overlay-rectangle.action.kbd-target {
	border: 0.2vw rgba(0,0,200,0.7);
}
overlay-rectangle.state.kbd-target {
	border: 0.2vw rgba(0,150,0,0.7);
}
overlay-rectangle.button.kbd-selected {
	border: 0.2vw rgba(0,0,0,0.4);
	border-radius: 0.1vw;
	border-corner-length: 0.8vw;
}

overlay-rectangle.executing {
	border: 0.2vw rgba(0, 200, 30, 0.8);
	border-radius: 0.4vw;
	padding: 0.3vw;
}

/*Other*/
widget {
	width: 36px;
	height: 36px;
}
#widget-then {
	padding-left: 16px;
	padding-right: 16px;
	width: 20px;
	height: 20px;
}
#widget-error, #widget-warning {
	width: 3vw;
	height: 3vw;
	padding: 0.2vw;
	margin-right: 0.8vw;
}
#widget-moreLow, #widget-moreHigh {
	width: 3ww;
	height: 3ww;
}
conflict-line {
    line: 2px #ff1744 dashed;
    stroke-linejoin:round;
}
block-library {
	padding: 24px 8px 8px 8px;
	margin: 0px;
		/*background: white;
	box-shadow: 0px 0px 2px #aabbcc;
	border-left: 2px solid #eceff1;
	border-right: 2px solid #eceff1;
	overflow: scroll;*/
}
hint {
	font-size: max(1vw, 12px);
 	font-family: 'Rubik', sans-serif;
	padding: 0.5vw;
	background-color: #f5f7f8;
	color: #222;
}

/* simulator */
sim-controller {
	background: #ECEFF1;
	margin-left: 5px;
	padding: 1vw;
}
button.event {
	width: 2vw;
	height: 2vw;
	margin: 0.2vw;
}
sim-playground-area {
	background: transparent;
	margin: 5px;
	padding: 5px;
}
sim-playground {
	border: 2px silver;
}
